{% extends "base.html" %}


{% block head %}
	<script>
	UPLOADCARE_TABS = 'all';
	UPLOADCARE_PUBLIC_KEY = 'demopublickey';
	</script>
	{{ form.media }}
{% endblock %}


{% block body %}
	<div class="center">
		<form action="." method="post" id="upload-form">
			<p>Please, select an image:</p>
			<p>{{ form.image }}</p>
			{{ form.errors }}
		</form>
		<script>
		(function() {
			uploadcare.start();

			var widget = uploadcare.Widget('#id_image');
			widget.openDialog();
			widget.onChange(function(file) {
				if (file) {
					var form = document.getElementById('upload-form');
					form.submit();
					form.style.display = 'none';
				}
			});
		})();
		</script>
	</div>
{% endblock %}
