{% extends "base.html" %}

{% block body %}
	<h2>Image «{{ image.image.info.filename }}»</h2>

	<img align="left" src="{{ image.image.cdn_url }}-/stretch/off/-/resize/260x/">

	<div class="float-info">
		<h3>Info</h3>
		Size: {{ image.image.info.size|filesizeformat }}<br>
		Uploaded: {{ image.image.info.datetime_uploaded|slice:":10" }}<br>

		<h3>Full link</h3>
		<a href="{{ image.image.cdn_url }}">{{ image.image.cdn_url }}</a>
	</div>
	<br clear="left">
	<p><a href="{% url 'index' %}">Upload another image</a></p>
{% endblock %}
